<DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="utf-8" />
      <title>
        {% block title %}
                
        {% endblock %} 
        | Adrian CM
      </title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>

    <body>
      <header>
        <div id="logotipo">
          <img src="{% static 'images/logo.png' %}" />
          <h1>Sitio web con Django </h1>
        </div>
      </header>

      <nav>
        <ul>
          <li>
            <a href="/inicio">Inicio</a>
          </li>
          <li>
            <a href="/hola-mundo">Hola Mundo</a>
          </li>
          <li>
            <a href="/pagina-pruebas">Página de pruebas</a>
          </li>
          <li>
              <a  href="/contacto-dos">Contacto</a>
          </li>
        </ul>
      </nav>

      <div id="content">
        <h2 class="title">Titulo de prueba</h2>
            {% block content %}
                <strong>Contenido del bloque original!!!</strong>
            {% endblock %}
      </div>

      <footer>
        Master en Python &copy; Adrian CM
      </footer>
    </body>

  </html>
</DOCTYPE>
